* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.profile-card {
  width: 90%;
  max-width: 400px;
  background-color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
}

.profile-header h2 {
  font-size: 25px;
  margin-bottom: 4px;
}

.profile-header h2 {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

.profile-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid rgb(235, 143, 235);
  object-fit: cover;
  margin: 5px 0;
}

figcaption {
  font-style: italic;
  font-weight: 550;
  font-size: small;
}

.profile-bio {
  background: rgb(250, 227, 250);
  margin: 10px 5px;
  border-radius: 8px;
  padding: 8px;
}

.profile-bio p {
  font-size: 16px;
}

.social ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  margin-bottom: 5px;
}

.social a {
  text-decoration: none;
  color: rgb(218, 93, 218);
  /* font-weight: bold; */
}

.social a:hover {
  color: rgb(194, 14, 194);
  /* font-weight: bold;; */
  transition: all 0.3ms ease;
}

.social i {
  font-size: 18px;
  font-weight: bold;
}

.hob-dis {
  margin-top: 5px;
  text-align: left;
}

.profile-hobbies {
  margin-bottom: 8px;
}

section h3 {
  color: rgb(218, 93, 218);
}

section ul {
  margin-left: 1rem;
}

#ticking-time {
  font-size: 15px;
  justify-self: end;
  align-self: end;
  margin-top: 5px;
  background: rgb(250, 227, 250);
  padding: 5px;
  border-radius: 10px;
  color: purple;
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(120deg, #ffcceb, #f9f9f9);
  }

  .profile-header {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
  }

  .profile-card {
    max-width: 700px;
    padding: 28px 60px;
  }

  .profile-header h2 {
    padding-bottom: 4px;
    /* margin-bottom: 4px; */
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    width: 251px;
  }

  .avatar-bio {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .social {
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    align-self: center;
    margin-left: 200px;
  }

  .hob-dis {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin-right: 50px;
  }
}
